@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/*****font-family: 'poppins',sans-serif;*****/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.second_Header {
  background-image: linear-gradient(#F23C3C, #F23C8B);
}

.about_me {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 1rem;
  max-height: 50rem;
  background: transparent;
  text-align: center;
  padding: 0rem 0rem;
  font-size: 1.2rem;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  color: #222;
  line-height: 1.5rem;
}

.about_me img {
  position: relative;
  min-width: 6rem;
  max-width: 8rem;
  min-height: 6rem;
  max-height: 8rem;
  margin: 1rem;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
}

.image::before {
  content: "IIT JEE";
  /* width: 100vw;
  height: 5rem;
  color: #fff;
  background:#000;*/
  position: absolute;
  top: 4rem;
  left: 3rem;
  color: #fff;
  background: #333;
  padding: .1rem 1.7rem;
  font-size: 1rem;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  letter-spacing: 2px;
  word-spacing: 9rem;
}


.second_Header .session {
  padding-bottom: 1rem;
}

.second_Header .name {
  color: #fff;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #222;
}

section {
  width: 100%;
  background: transparent;
  min-height: 10rem;
  max-height: 100vh;
  position: relative;
}

section:after {
  content: "Hello ! friends you can now able to use this file ...... I want to say something that this is not my website of books ( https://www.pdfdrive.com/ ).";
  position: absolute;
  color: #fff;
  background: #333;
  font-size: 1rem;
  font-style: 'poppins',sans-serif;
  width: 100%;
  padding: 2rem;
  min-height: 3rem;
  max-height: 100%;
  box-sizing: border-box;
}

.PDF {
  width: 100%;
  MIN-height: 3REM;
  max-height: 20REM;
  text-align: center;
  color: #FFF;
  background: #444;
  padding: 12px 15px;
}

.PDF li{
  list-style: NONE;
  width: 100%;
  height: 3REM;
  padding: 1REM;
  
}

.PDF li a {
  color: #08FFA7;
  font-family:'poppins',sans-serif;
}



@media (min-width:748px) {

  .second_Header {
    min-height: 50rem;
    max-height: 70rem;
  }

  .about_me {
    font-size: 3rem;
    line-height: 4rem;
  }

  .about_me img {
    min-width: 10rem;
    max-width: 22rem;
    min-height: 10rem;
    max-height: 22rem;
    margin: 3rem;
    border-radius: 50%;
    border: 1.2rem solid #fff;
  }

  .image::before {
    position: absolute;
    top: 10rem;
    left: 8.5rem;
    padding: .3rem 3rem;
    font-size: 3rem;
    letter-spacing: 2px;
    word-spacing: 27rem;
    border: 1rem solid #fff;
  }

}

@media (max-width:211px) {
  
  .about_me{
    font-size: 0.9rem;
  }
  
  .about_me img {
  min-width: 5.5rem;
  max-width: 6rem;
  min-height: 5.5rem;
  max-height: 6rem;
  margin: 1rem;
  border: 2.5px solid #fff;
}

.image::before {
  content: "IIT JEE";
  /* width: 100vw;
  height: 5rem;
  color: #fff;
  background:#000;*/
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  color: #fff;
  background: #333;
  padding: .1rem .7rem;
  font-size: .6rem;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  letter-spacing: 2px;
  word-spacing: 4rem;
  visibility: hidden;
}


.second_Header .session {
  padding-bottom: 1rem;
}

.second_Header .name {
  color: #fff;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #222;
}

section {
  width: 100%;
  background: transparent;
  min-height: 4rem;
  max-height: 100vh;
  position: relative;
}

section:after {
  content: "Hello ! friends you can now able to use this file ...... I want to say something that this is not my website of books ( https://www.pdfdrive.com/ ).";
  position: absolute;
  color: #fff;
  background: #333;
  font-size: .6rem;
  font-style: 'poppins',sans-serif;
  width: 100%;
  padding: 1rem;
  min-height: 3rem;
  max-height: 100%;
  box-sizing: border-box;
}

.PDF {
  width: 100%;
  MIN-height: 3REM;
  max-height: 20REM;
  text-align: center;
  color: #FFF;
  background: #333;
  padding: 5px 7px;
}

.PDF li{
  list-style: NONE;
  width: 100%;
  height: 2REM;
  padding: .3REM;
  
}

.PDF li a {
  color: #08FFA7;
  font-family:'poppins',sans-serif;
  font-size: .4REM;
}


  
}